html {
  height: 100%;
}

body{
  height: 100%;
  box-sizing: border-box;
}

.grid {
  margin: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, .0) 0,
    rgba(255, 255, 255, .0) 30px,
    rgba(0, 0, 0, .2) 31px,
    rgba(255, 255, 255, .0) 32px
  ),
  repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, .0) 0,
    rgba(255, 255, 255, .0) 30px,
    rgba(0, 0, 0, .2) 31px,
    rgba(255, 255, 255, .0) 32px
  ),
  repeating-radial-gradient(
    rgba(0, 0, 0, .2) 10%,
    rgba(255, 255, 255, .2) 15%
  ),
  repeating-linear-gradient(
    rgba(0, 0, 0, .2) 10%,
    rgba(255, 255, 255, .2) 15%
  );
  width: 100vw;
  height: 100vh;
  height: 100%;
}

.item {
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
}